.app-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  text-align: center;
  padding: 50px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
